body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:black;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.recipe-card img {
    width: 100%;
    height: auto;
}

.recipe-card h2 {
    margin-top: 10px;
}

.recipe-card ul {
    list-style: none;
    padding: 0;
}

.recipe-card ul li {
    margin-bottom: 10px;
}


